{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}{{ blog.title }} - Liok Hotels{% endblock %}

{% block content %}

<style>
    .news2 .post-img {
        height: 800px !important; /* Adjust this value to your preferred height */
        overflow: hidden;
        width: 100%;
        position: relative;
        
    }
    .news2-sidebar .recent .thum {
        width: 80px !important;
        height: 80px !important;
    }
</style>
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'img/slider/7.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left caption mt-90">
                    <h5>{{ blog.title }}</h5>
                    <h1>Our News</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="news2 section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="item">
                                
                                <div class="post-img">
                                    {% if blog.image %}
                                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid"> 
                                    {% else %}
                                        <img src="{% static 'img/slider/7.jpg' %}" alt="Default Image" class="img-fluid">
                                    {% endif %}
                                    
                                    <div class="date">
                                        <span>{{ blog.created_at|date:"M" }}</span> 
                                        <i>{{ blog.created_at|date:"d" }}</i> 
                                    </div>
                                </div>
                                
                                <div class="post-cont mt-30"> 
                                    <h2 style="font-family: 'Gilda Display', serif; margin-bottom: 20px;">{{ blog.title }}</h2>
                                    
                                    <div class="content-text" style="line-height: 1.8; color: #666; font-size: 16px;">
                                        {{ blog.description|linebreaks }}
                                    </div>
                                    
                                    <div class="share-post mt-40">
                                        <a href="{% url 'admin_pages:news_list' %}" class="butn-dark2">
                                            <span><i class="ti-arrow-left"></i> Back to News</span>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="news2-sidebar row">
                        
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h6>Recent Posts</h6>
                                </div>
                                <ul class="recent">
                                    {% for recent in recent_posts %}
                                    <li>
                                        <div class="thum"> 
                                            {% if recent.image %}
                                                <img src="{{ recent.image.url }}" alt="{{ recent.title }}"> 
                                            {% else %}
                                                <img src="{% static 'img/slider/7.jpg' %}" alt="Default">
                                            {% endif %}
                                        </div> 
                                        <a href="{% url 'admin_pages:news_detail' recent.slug %}">{{ recent.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
    </section>

{% endblock %}